<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>

	<form action="/personal_submit" method="POST">

	<h1>인적사항</h1>
	<ol>
		<li>이름</li>
			<input type="text" id ="name" name="name" size="10"><br><br>
		<li>학교</li>
			<input type="text" id = "school" name="school" size="20"><br><br>
		<li>학과</li>
			<input type="text" id = "department" name="department" size="20"><br><br>
		<li>나이</li>
			<input type="text" id = "age" name="age" size="20"><br><br>
		<li>전화번호</li>
			<input type="text" id = "contact" name="contact" size="20"><br><br>
		<li>이메일</li>
			<input type="text" id = "email" name="email" size="20">
			<br>

		<input type="submit" value="Submit">
	</ol>
	</form>

</body>
</html>
