


<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://www.gstatic.com/firebasejs/5.5.1/firebase.js"></script>
  </head>

  <body>
    <title>상세정보</title>
    <ul id = 'environment'>

    </ul>
    <div id = 'num'><div>
    <!-- <ul id = 'namenodee'></ul> -->
    <script>
      const config = {
      
        //ToDo: Get your own, at firebase.google.com
      };  

      firebase.initializeApp(config);
      label = 'survey'
      
      // reload:
      const prelabel = document.getElementById(label);   
      const uiui = document.getElementById('num'); 
      const ulList = document.getElementById('environment');
      var howmanyList = document.createElement('li');
      // var namenode = document.getElementById('namenodee');
      const dbenvironment = firebase.database().ref().child(label).child('environment').child('1');

      dbenvironment.on('value', snap => {
        
        uiui.innerText = (snap.val());//*.innerText*

     

      });
      
      

      
      
    </script>



  </body>
</html>
