
<!doctype html>
<html>
<head>
  
  <title>download form firebase</title>


  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>


 
  <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-database.js"></script>
  
  <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-functions.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-storage.js"></script>
    <!-- <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-auth.js"></script> -->
   
    <style>
      div{
      position: absolute;
      top: 250px;
      

      width: 250px;
      height: 250px;
      background-color: #E9AFA3;
      text-color: #ffffff;
      text-align: center;

      }
      button{
        margin-top: 210px;
        background-color: #df514c;
        border: 0;
        padding: 12px 20px;

    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
      }
   </style>

</head>
  <div>
  <button type="button" id="downloadButton">Download</button>
  </div>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDQQqY-iNLB8rEUVjIVbalJOXj9RJYrFB8",
      authDomain: "easyseminardb.firebaseapp.com",
      databaseURL: "https://easyseminardb.firebaseio.com",
      projectId: "easyseminardb",
      storageBucket: "easyseminardb.appspot.com",
      messagingSenderId: "817545283146"
    };
    firebase.initializeApp(config);
    
    var storage = firebase.storage();
    
    var downloadButton = document.getElementById('downloadButton');
    var imgRef = storage.ref('Seminar_library/data');
    downloadButton.addEventListener('click', function(){
      imgRef.getDownloadURL().then(function(url){
        console.log(url);
        location.href = url;
      });
    });
  
  </script>

</head>



<body>

</body>
</html>
