<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title></title>
</head>
<body>

	<form action="/makequiz_submit" method="POST">
	<h1>quiz</h1>
	<ul>
		<li>문제지</li>
			<textarea type="text" id ="makeq" name="makeq" rows="10" cols = "50"></textarea><br><br>
		<li>선택지1</li>
			<textarea type="text" id ="cho1" name="cho1" rows="6" cols = "50"></textarea><br>
		<li>선택지2</li>
			<textarea type="text" id ="cho2" name="cho2" rows="6" cols = "50"></textarea><br>
		<li>선택지3</li>
			<textarea type="text" id ="cho3" name="cho3" rows="6" cols = "50"></textarea><br>
		<li>선택지4</li>
			<textarea type="text" id ="cho4" name="cho4" rows="6" cols = "50"></textarea><br>	
		<li>선택지5</li>
			<textarea type="text" id ="cho5" name="cho5" rows="6" cols = "50"></textarea><br><br>								
		<li>정답</li>
			<textarea id ="qanswer" name="qanswer" rows="5" cols = "5"></textarea><br><br>

		<input type="submit" value="Submit">
	</ul>
	</form>

</body>
</html>
