<!DOCTYPE html>
<html>
  
  <head>
    <title>세미나 관리</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>

  <body>

    <form action="/attendance">
      <input type="submit" value="참가자 정보">
      <br><br>
    </form>

    <form action="/masterlibrary">
      <input type="submit" value="자료 공유">
      <br><br>
    </form>

    <form action="/checkquestion">
      <input type="submit" value="수강생 질문 확인">
      <br><br>
    </form>

    <form action="/masterquiz">
      <input type="submit" value="퀴즈">
      <br><br>
    </form>



  </body>
</html>